name: Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup KUBECONFIG
        uses: vbem/kubeconfig4sa@v1
        with:
          server:     ${{ secrets.K8S_ADDRESS }}
          ca-base64:  ${{ secrets.K8S_CA_BASE64 }}
          token:      ${{ secrets.K8S_SA_TOKEN }}
          namespace:  default

      - name: Deploy App
        run: helm upgrade --install myflaskexapp . 
